{% extends 'core_main_app/_render/admin/theme/tools/modal.html' %}

{% block modal_id %}comparing-results{% endblock %}
{% block modal_title %}Comparing results{% endblock %}

{% block modal_body %}

  {% if lines|length > 0 %}
    <div class="row">
      <div class="col-sm-3 col-sm-offset-9">
        <label for="id_filter">Filter Results:</label>
        <select onchange="filterTableRows(this)" class="form-control"
                id="id_filter">
          <option value="">All</option>
          {% for rule in rules.items %}
            <option value="{{ rule.0 }}">{{ rule.1 }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-sm-12">
      <table class="table table-hover">
        <tr>
          <th><strong>Elements</strong></th>
          {% for index in indexes %}
            <th><strong>Record {{ index }}</strong></th>
          {% endfor %}
          <th><strong>Compare Notes</strong></th>
        </tr>
        {% for item in lines %}
          <tr data-state="{{ item.state }}" class="compare-result-item" style="font-size: 18px">
            <td>{{ item.path }}</td>
            {% for value in item.values %}
              <td>{{ value }}</td>
            {% endfor %}
            <td>{{ item.text }}{{ state }}</td>
          </tr>
        {% empty %}
          <tr align="center">
            <td colspan="4">
              <div class="alert alert-danger">
                {{ message|default:"No items" }}
              </div>
            </td>
          </tr>
        {% endfor %}
        <tr></tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block modal_footer %}
  <a class="btn btn-default pull-left" data-dismiss="modal" href="#">
    <i class="fa fa-close"></i> Close
  </a>
{% endblock %}
